body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 350px; 
    margin: 80px auto; 
    background: white;
    padding: 25px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 100%; 
    padding: 10px; 
    margin: 8px 0;
    border: 1px solid #ccc; 
    border-radius: 5px;
}

button {
    width: 100%; 
    padding: 10px; 
    background: #4CAF50;
    color: white; 
    border: none; 
    border-radius: 5px;
}
.container h2 {
    color: #4CAF50; /* Match the Register button color */
    text-align: center;
}
.login-promt{
    text-align: center;/*center the text*/
    margin-top: 20px;/* add some space above the link*/
    font-size: 14px;
}

.login-promt a {
    color: #4caf50;/*match your green button color*/
    text-decoration: none;/*remove the underline*/
    font-weight: bold;
}


.login-promt a:hover{
    text-decoration: underline;/*add underline on hover*/
}

h2{
    margin-bottom: 20px;
    color: #333;
}
.google-link {
    display: flex;
    align-items: center;/* Vertically center icon and text */
    justify-content: center;/* Horizontally center content inside the button */
    width: 250px;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #3c4043;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0 1px 1px 0 rgba( 0,0,0,0.05);
    font-weight: bold;
    transition: background-color 0.3s;
}

.google-link:hover{
    background-color: #357ae8;
    box-shadow: 0 2px 3px 0 rgba( 0,0,0,0.01);
}

.google-icon{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

img{
    width: 100%;
    height: auto;
}

.error{
    color: red;
    margin-top: 15px;
}

dashboard-stats {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.stat-box {
    flex: 1;
    background: #007bff;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.stat-box .count {
    font-size: 32px;
    margin-top: 10px;
}

.logout-button {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background: #dc3545;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.logout-button:hover {
    background: #c82333;
}

.header {
    text-align: center;
    padding: 20px;
    background: #007BFF;
    color: white;
    position: relative;

}
@media(max-width:800px){
    .row{grid-template-columns:1fr}
}

