body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f0f2f5;
            padding: 50px 0;
            display: flex;
            justify-content: center;
        }

        .container {
            width: 80%;
            background-color: #fff;
            padding: 20px 30px;
            border-radius: 10px;
            box-shadow: 0 6px 15px rgba(0,0,0,0.1);
        }

        h1 {
            text-align: center;
            color: #057739b0;
            margin-bottom: 30px;
            font-family: font-family 'Roboto', sans-serif;   /* example */
            font-weight: bold;


        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
        }

        th {
            background-color: #007BFF;
            color: white;
            text-transform: uppercase;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #e2e6ea;
        }

        .no-data {
            text-align: center;
            color: #555;
            padding: 20px 0;
            font-size: 18px;
        }
        .book-now-fixed {
    position: fixed;
    bottom: 200px;
    left: 48%;
    transform: translateX(-50%);
    padding: 14px 30px;
    background-color: #28a745;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
    z-index: 1000;
    transition: 0.3s ease;
}

.book-now-fixed:hover {
    background-color: #218838;
    transform: translateX(-50%) scale(1.05);
}


